:root {
    --header-bg-color: #0000008b;
    --even-row-color: #d5d1d1;
    --odd-row-color: #e1e0e0;
    --work-highlight: #e6f7ff;
    --off-highlight: #ffedea;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    height: 100vh;
    margin: 0;
    min-width: 320px;
    background-image: linear-gradient(
        0deg,
        hsl(0deg 0% 100%) 34%,
        hsl(48deg 100% 96%) 70%,
        hsl(48deg 100% 91%) 74%,
        hsl(48deg 100% 87%) 77%,
        hsl(48deg 100% 82%) 79%,
        hsl(48deg 100% 77%) 82%,
        hsl(48deg 100% 73%) 86%,
        hsl(48deg 100% 68%) 90%,
        hsl(49deg 100% 62%) 95%,
        hsl(51deg 100% 50%) 100%
    );
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

li{
    list-style:none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline 2px solid black;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}




header {
    margin: 0 1rem ;
    padding-top: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 20px;
}

h1,
h2 {
    margin: -0.3rem;
}

#intro {
    max-width: 700px;
    margin: 1rem 2rem;
}

#intro > p {
    margin: 0;
}

#checkBack {
    font-size: 10px;
}
#infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#moreInfo {
    border-radius: 1rem;
    margin: 0 10rem;
    padding: 2rem;
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 61%) 1%,
        hsl(344deg 0% 30%) 50%,
        hsl(0deg 0% 0%) 99%
    );
    color: white;
    user-select: none;
    cursor: pointer;
    max-width: 50%;
    box-shadow: 1.5px 3px 3px hsl(0deg 0% 0% / 0.45);
}

#moreInfo:hover {
    transform: scale(1.05);
}

.container,
#tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#tableWrapper {
    width: 90%;
}

button {
    text-align: center;
    background-image: linear-gradient(
        180deg,
        hsl(0deg 0% 61%) 1%,
        hsl(344deg 0% 30%) 50%,
        hsl(0deg 0% 0%) 99%
    );
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    grid-area: 5/1/6/3;
    box-shadow: 1.5px 3px 3px hsl(0deg 0% 0% / 0.45);
}

button:hover {
    transform: scale(1.1);
}
#generate {
    margin-top: 3rem;
    margin-bottom: 0;
}
form {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25rem;
    max-width: 500px;
    min-width: 40%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    border-radius: 2rem;
    border: 2px solid gray;
    padding: 3rem;
    background-color: white;
    box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}

input[type='number'],
input[type='date'] {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    min-width: 80px;
    max-width: 220px;
    box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}

th {
    border: transparent;
    text-align: center;
    background-color: var(--header-bg-color);
    color: white;
    border: 1px solid var(--header-bg-color);
    padding: 1rem;
    margin: 1rem auto;
}

tr:nth-child(even) {
    background-color: var(--even-row-color);
    height: 3rem;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--odd-row-color);
    height: 3rem;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 3rem;
}

@media (max-width: 700px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    #intro{
        margin:1rem;
        padding: 0;
        width:80%
    }

    form {
        width: 80%;
    }

    table {
        width: 80%;
    }
}
